{
	"SourcePath" : "/home/david/data/csv_data/equity_indices/^HSI.csv",
	"StartDate" : "1975-1-1", 
	"EndDate" : "2015-11-27",
	"Title" : "HangSeng Stock Index Shanghai",
	"YLabel" : "Closing Price",
	"XLabel" : "Time",
	"DateColName" : "Market",
	"ValColName" : "Close"
}